table {
    border-collapse: collapse;
    text-align:center;
      margin-left:auto;
      margin-right:auto;
      width:100px;
  
  }
  
  th, td {
    padding: 8px;
    white-space:nowrap
  }
  
  tr:nth-child(even) {
    background: #434344;
  
  }
