#login-form{
    width: 750px;
    height: 400px;
    margin-left: 330px;
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #434344;
    color: white;
  }
  .form-button-color{
    background-color: #080808;
    color: white;
  }
  .btn:hover, button:hover{
    background: #090941;
    cursor: pointer;
  }
  