<div class="card text-center mauve" id="card-container">
    <div class="card-header">
        <div>
            <h2>Welcome to FDMAcademyReport - Portal</h2>
            <!-- <hr>
            <mat-form-field appearance="fill">
                <mat-label>Select an option</mat-label>
                <mat-select [(value)]="selected">
                  <mat-option value="Account Manager" routerLink="/AccountmanagerRegistration">Account Manager</mat-option>
                  <mat-option value="Trainee" routerLink="/AccountmanagerRegistration">Trainee</mat-option>
                  <mat-option value="Instructor" routerLink="/TraineeRegistration">Instructor</mat-option>
                </mat-select>
            </mat-form-field> -->
            <hr>
            <p>If you're Account Manager</p>
            <a class="btn form-button-color" routerLink="/AccountmanagerRegistration">Account Manager Registration</a>
            <hr>
            <p>If you're Trainee</p>
            <a class="btn form-button-color" routerLink="/TraineeRegistration">Trainee Registration</a>
            <hr>
            <p>If you're Instructor</p>
            <a class="btn form-button-color" routerLink="/InstructorRegistration">Instructor Registration</a>
        </div>
        
    </div>
</div>
<!-- <app-accountmanager-registration></app-accountmanager-registration>  -->